a) Exploratory data analysis and preprocessing: Gain a sucient understanding of the data for
model development and perform data cleaning and feature engineering steps if you find it
necessary. You may make any changes to your dataset; however, you must attempt to give a
reason as to why you find a given transformaton necessary.

b) Models: Build four (4) machine learning models for labelling sentiment behind hotel reviews.
One of the models needs to be a neural network (e.g. LSTM). You are welcome to train
models that are not covered in the course. Evaluate the performance of the built models
using the appropriate evaluation metrics.

In [88]:
# These have to be installed through running "pip install -r requirements.txt"
# We are using an anaconda kernel for this notebook.
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import sklearn
import geonamescache as gnc

In [89]:
# Storing the csv file as a pandas dataframe
df = pd.read_csv('Hotel_Reviews.csv')

In [90]:
df = df.drop(["Hotel_Address", "Additional_Number_of_Scoring", "Review_Date", "Average_Score", "Reviewer_Nationality", "Review_Total_Negative_Word_Counts", "Review_Total_Positive_Word_Counts", "Total_Number_of_Reviews_Reviewer_Has_Given", "Reviewer_Score", "Tags", "days_since_review", "lat", "lng", "Hotel_Name", "Total_Number_of_Reviews"], axis = "columns")

In [91]:
def replace(cell):
    if cell == "No Positive" or cell == "No Negative":
        return ""
    return cell



df['Negative_Review'] = df['Negative_Review'].apply(replace)
df['Positive_Review'] = df["Positive_Review"].apply(replace)
df

,Negative_Review,Positive_Review
0,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...
1,,No real complaints the hotel was great great ...
2,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...
3,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...
4,You When I booked with your company on line y...,Amazing location and building Romantic setting
...,...,...
515733,no trolly or staff to help you take the lugga...,location
515734,The hotel looks like 3 but surely not 4,Breakfast was ok and we got earlier check in
515735,The ac was useless It was a hot week in vienn...,
515736,,The rooms are enormous and really comfortable...
515737,I was in 3rd floor It didn t work Free Wife,staff was very kind

In [92]:
def combine_names(row):
    return f"{row['Positive_Review']} {row['Negative_Review']}"


df["Review"] = df.apply(combine_names, axis=1)

In [93]:
df = df.drop(["Negative_Review", "Positive_Review"], axis="columns")
df

                                                   Review
0        Only the park outside of the hotel was beauti...
1        No real complaints the hotel was great great ...
2        Location was good and staff were ok It is cut...
3        Great location in nice surroundings the bar a...
4        Amazing location and building Romantic settin...
...                                                   ...
515733   location  no trolly or staff to help you take...
515734   Breakfast was ok and we got earlier check in ...
515735    The ac was useless It was a hot week in vien...
515736   The rooms are enormous and really comfortable...
515737   staff was very kind   I was in 3rd floor It d...

[515738 rows x 1 columns]